<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Clean Profile Widget  Responsive Widget Template | Home :: w3layouts</title>
<link rel="stylesheet" href="static/css/style7.css"/>
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Clean Profile Widget Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!--google fonts-->
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
	<h1>Profile Card</h1>

	<div class="header">
		<div class="header-top">
			<div class="header-top1">
				<a class="follow1" href="{{ url_for('index')}}">
					<img src="{{ url_for('static', filename='images/home3.png')}}" alt="">
				</a>
				<a class="follow1" href="#">
					<img src="{{ url_for('static', filename='images/history1.png')}}" alt="">
				</a>
				<a class="follow1" href="logout">
					<img src="{{ url_for('static', filename='images/logout4.png')}}" alt="">
				</a>
					
			</div>
			<div class="header-top2">
				<a  href="{{url_for('registercard')}}"><img src="{{ url_for('static', filename='images/add.png')}}" alt=""></a>
				
				<h5>{{ Name }}</h5>
				<p>{{ Date }}</p>
			</div>
			<div class="header-top3">
			</div>
			<div class="clear"> </div>
		</div>

	</div>


</body>
</html>