<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Clean Profile Widget  Responsive Widget Template | Home :: w3layouts</title>
<link rel="stylesheet" href="static/css/style4.css"/>
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Clean Profile Widget Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!--google fonts-->
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
	<h1>Profile Card</h1>

	<div class="header">
		<div class="header-top">
			<div class="header-top1">
				<a class="follow1" href="{{ url_for('index')}}"><img src="{{ url_for('static', filename='images/home3.png')}}" alt="">
				</a>
			</div>
			<div class="header-top2">
				<img src="{{ url_for('static', filename='images/man3.png')}}" alt="">
				<h5>{{ Name }}</h5>
				<p>Web Designer</p>
			</div>
			<div class="header-top3"><img src="{{ url_for('static', filename='images/history1.png')}}" alt="">
			</div>
			<div class="clear"> </div>
		</div>
		<div class="header-bottom">
			<div class="header-bottom1">
				<span class="number">6782</span>
				<p class="text" >Wallet Balance</p>
				<div class="clear"> </div>
			</div>
			<div class="header-bottom1">
				<span class="number">783</span>
				<p class="text">Monthly Spending Limit</p>
				<div class="clear"> </div>
			</div>
			<div class="header-bottom1">
				<span class="number">5643</span>
				<p class="text">Remaining Spending Limit</p>
				<div class="clear"> </div>
			</div>
			<div class="clear"> </div>
		</div>
	</div>


</body>
</html>